/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   Reset CSS 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Done reseting */


html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #dddddd;
}

h1 {
  font-family: 'Roboto medium';
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  width: 90vh;
  height: 90vh;
  max-width: 90vw;
  max-height: 90vw;
  border-radius: 7px;
  box-sizing: border-box;
/*
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
*/
}

.info {
  margin-left: 40%;
}

.project-detail, .info {
  display: inline-block;
  position: absolute;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
}

.project-detail {
  background-image: linear-gradient(to bottom, #b6d3fc, #b6d3eb), url('http://cdn.images.express.co.uk/img/dynamic/151/590x/secondary/SecureTeam10-Tyler-huge-circular-object-spotted-under-Pacific-Ocean-849412.jpg');
  background-repeat: no-repeat;
  background-size: 90vh 90vh;
  background-blend-mode: multiply;
  text-align: left;
  color: white;
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
}

.info {
  color: #999;
  width: 60%;
  background: white;
  border-radius: 0px 7px 7px 0px;
  box-shadow: -1px 0px 80px 6px rgba(0,0,0,0.51);
}

.info > div {
  padding: 10px;
}
.goback {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: all 2s;
}

@keyframes gobig {
  25% {
    margin-left: -52%; 
  }
  100% {
  margin-left: 0%; box-shadow: 1px 0px 80px 6px rgba(0,0,0,0.51);
        z-index: 9999;
    cursor:default;
}
}
@keyframes gohome {
    25% {
      margin-left: 52%;
    }
  50% {
          z-index: -1;

  }
    100% {margin-left: 10%; z-index: -1; box-shadow: none;}
}

@keyframes debig {
  25% {
    margin-left: -52%;
  }
  100% {
    margin-left: 0%;
    z-index: 0;
    box-shadow: none;
    cursor: pointer;
  }
}

@keyframes dehome {
  25% {
    margin-left: 52%;
  }
  50% {
    z-index: 1;
  }
  100% {
    margin-left: 40%;
    z-index: 1;
    box-shadow:  -1px 0px 80px 6px rgba(0,0,0,0.51);
  }
}

.fill {
  animation-name: gobig;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.fill ~ .info {
  animation-name: gohome;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.fill .goback {
  opacity: 1;
}


.defill {
  box-shadow: 1px 0px 80px 6px rgba(0,0,0,0.51);
  animation-name: debig;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.defill ~ .info {
  box-shadow: none;
  z-index: -1;
  animation-name: dehome;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.defill .goback {
  opacity: 0;
}

.skills {
  position: absolute;
  bottom: 100px;
  left: 0;
}
.skills progress {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skills progress:nth-child(2n) {
  margin-right: 20px;
}
.skills progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.skills progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #b6d3fc, #b6d3eb);
  border-radius: 2px;
}
.skills progress::after {
  content: attr(data-name);
  font-size: 12px;
  position: absolute;
  left: 0;
  top: -20px;
  line-height: 20px;
  width: 100%;
}
#projectlist {
  padding-top: 20px;
  font-size: 16px;
  text-align: left;
  padding-bottom: 20px;
}
#projectlist a {
  color: #999;
  text-decoration: none;
}
#projectlist li {
  position: relative;
  padding-left: 25px;
  padding-bottom: 10px;
}
#projectlist a.active {
  color: #616161; 
}
#projectlist a:hover {
  color: #717171;
  cursor: pointer;
}
.footer_info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  white-space: pre-line;
  font-size: 16px;
  font-family: monospace;
}


.tools {
  font-size: 16px;
  font-family: monospace;
  padding: 10px 0;
}
.desc {
  font-size: 18px;
  color: aliceblue;
}

#microconsole {
  position: fixed;
  top: 0;
  left: 0;
  background: green;
  color: white;
}
